:root {
  --pr-color: #325eff;
  --gray-color: gray;
  --black-font-color: black;
  --white-font-color: white;
  --pr-font-color: #325eff;
  --gray-font-color: #d3cece;
  --border-gray: #d3cece;
  --border-pr: #325eff;
  --blue-color: #deefff;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  
  background-color: white;
  max-height: 2436px;
  max-width: 1135px;
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;

}